@import url(/src/styles/reset.css);

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

main {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2em;
	text-align: center;
	display: grid;
	gap: 1em;
	max-width: 60ch;
}

.js-link {
	margin: auto;
	display: block;
	width: max-content;
}

.logo {
	height: 4em;
	padding: 1em;
	margin: auto;
	will-change: filter;
	transition: filter 300ms;
}

.logo:hover {
	filter: drop-shadow(0 0 2em #f7df1eaa);
}

button {
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	transition: border-color 0.25s;
}

button:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

ul {
	padding: 0;
	margin: auto;
	max-width: fit-content;
}

li {
	text-align: initial;
	padding: .5em;
}

li::marker {
	content: none;
}

.todo-input {
	font-size: 1.25rem;
	padding: .5em .75em;
}